javant/tut6/doc/javadoc
javant/tut6/doc/testreport
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/javant/tut4/nbproject/private/
/javdew/bookLibDaoDemo/dist/
/javdew/bookLibDaoDemo/build/
/javdew/bookLibDaoDemo/nbproject/private/
/javdew/bookLibDao/nbproject/private/
/javdew/bookLibDao/build/
/javdew/bookLibDao/dist/
/javdew/BookLibDemoGUI/nbproject/private/
/javdew/BookLibDemoGUI/build/
/javdew/BookLibDemoGUI/dist/
/javdew/AndroidBookLibDemo/gen/